<div class="home jumbotron centered">
    <style>
        .custom-sec{
            overflow: auto;
            border: 1px solid #aaa;
            padding: 7px;
            border-radius: 2px;
            float: left;
            width: 40%;
        }
    </style>
    <h3 *ng-if="jwt">Your JWT is:</h3>
    <div class="row">
        <span *ng-if="jwt" class="jwt navbar-text custom-sec">{{ jwt }}</span>
        <span *ng-if="jwt" class="jwt navbar-text custom-sec">{{ decodedJwt | json }}</span>
    </div>
    <p>Click any of the buttons to call an API and get a response</p>
    <a class="btn btn-primary btn-lg" role="button" (click)="callAnonymousApi()">Put random quote</a>
    <a class="btn btn-primary btn-lg" role="button" (click)="callSecuredApi()">Secure random quote</a>
    <h3 *ng-if="response">The response of <span class="red">{{api}}</span> API is:</h3>
    <h4 *ng-if="response">{{response}}</h4>
</div>