<div class="home jumbotron centered">
    <h3 *ng-if="jwt">Your JWT is:</h3>
    <pre *ng-if="jwt" class="jwt"><code>{{ jwt }}</code></pre>
    <pre *ng-if="jwt" class="jwt"><code>{{ decodedJwt | json }}</code></pre>
    <p>Click any of the buttons to call an API and get a response</p>
    <a class="btn btn-primary btn-lg" role="button" (click)="callAnonymousApi()">Put random quote</a>
    <a class="btn btn-primary btn-lg" role="button" (click)="callSecuredApi()">Secure random quote</a>
    <h3 *ng-if="response">The response of <span class="red">{{api}}</span> API is:</h3>
    <h4 *ng-if="response">{{response}}</h4>
</div>